{% extends 'base.html.twig' %}

{% block title %}Postagem{% endblock %}

{% block body %}
    <h1>Postagem</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ postagem.id }}</td>
            </tr>
            <tr>
                <th>Conteudo</th>
                <td>{{ postagem.conteudo }}</td>
            </tr>
            <tr>
                <th>Criado_em</th>
                <td>{{ postagem.criadoEm ? postagem.criadoEm|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Atualizado_em</th>
                <td>{{ postagem.atualizadoEm ? postagem.atualizadoEm|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_postagem_index') }}">back to list</a>

    <a href="{{ path('app_postagem_edit', {'id': postagem.id}) }}">edit</a>

    {{ include('postagem/_delete_form.html.twig') }}
{% endblock %}
