{% extends "base.html.twig" %}


{% block title %} SocialReaders | {{livro.titulo}} {% endblock %}

{% block body %}

{% if livro %}

<div class="container mt-5">
    <h3 class="mb-3 book-title">{{livro.titulo}}</h3>
    <div class="row">
        <div class="col-md-auto">


            <div class="thumb-btn">
    <img class="thumb-book" src="{{livro.thumb}}" alt="">

    <form action="/favorite/{{livro.id}}" method="post">
        <input type="hidden" name="livro-id" id="livro_id" value="{{livro.id}}">
        {% if livro.id in app.user.favoritesbooks %}
        <button type="submit" class="btn btn-info btn-sm favorite-book"> <i class="fa-solid fa-heart"></i> Favorito</button>

        {%else%}
        <button type="submit" class="btn btn-warning btn-sm favorite-book"> <i class="fa-solid fa-heart"></i> Favoritar</button>
        {% endif %}
    </form>
    </div>


</div>

    <div class="col-md-9 description">
    <p class="description-book">{{livro.description}}</p>

    {% if livro.autors%}
    <p class="mt-3"> <strong> Autores</strong></p>
    <ul class="autors-book">
        {% for a in livro.autors%}
        <li>{{a}}</li>
        {%endfor%}
    </ul>
    {%endif%}
</div>
</div>

</div>

{% endif %}

{% endblock %}

