{% extends "base.html.twig" %}

{% block title %}Social Readers{% endblock %}
{% block body %}


<div class="row linha">

    <div class="col-md-3 sidebar mt-3 p-2 ms-2">

    <a href="/{{app.user.nome}}">
        <div class="info-user-bar">

        {% if app.user.imageprofile %}
        <img class="img-fluid profile " src="uploads/imagesprofile/{{app.user.imageprofile}}" alt="logo"></a>
        {%else%}
        <img class="img-fluid profile " src="assets/images/noneuser.png" alt="logo"></a>
           {%endif%}
          <a class="text-decoration-none" href="/{{app.user.nome}}">
           <span class="text-light fw-semibold">
             {{app.user.nome}}

             </span>
             </a>

        </div>
 </a>
        <div class="menu mt-3 mb-5">

            <ul class="lista-menu">
                <a class="text-decoration-none" href="/{{app.user.nome}}"> <li class="d-flex gap-2 menu-item text-light">
                  <i class="fa-solid fa-user "></i>Perfil
                </li></a>

        <a class="text-decoration-none" href="{{path('app_books')}}">
                <li class="d-flex gap-2 menu-item text-light">
                    <i class="fa-solid fa-book"></i> Meu Livros
                </li>
            </a>

                <a class="text-decoration-none" href="{{path('app_amigos')}}">
                <li class="d-flex gap-2 menu-item text-light">

                    <i class="fa-solid fa-user-group"></i> Amigos
                </li>
            </a>

            </ul>

        </div>

        <div class="text-center mt-5">
            <img class="img-fluid i" src="assets/images/icon.png" alt="">
        </div>
    </div>

    <div class="col-md-4 mt-3 content">

        <form method="post" action="{{path('criarpost')}}" name="postagem" class="postagem">

            <h1>Compartilhe uma Leitura, indique um livro...</h1>

            <div class="form-floating">
                <textarea class="form-control" name="conteudo" maxlength="255" required placeholder="Compartilhe sua Ultima Leitura, indique um livro..." id="postagem_conteudo"></textarea>
                <label for="floatingTextarea">Leitura</label>
              </div>


            <button name="postar" type="submit" class="btn btn-primary postar text-end mt-2">Postar</button>
        </form>


        <div class="posts mt-5">

            {%if postagens %}
            {% for p in postagens%}
            <!-- posts-->
            <div class="post mb-4">



                <div class="autor mb-2  ">
                    <div class="info-user-post">
                    {%if p.usuario.imageprofile%}
                             <img class="img-fluid profile-post" src="uploads/imagesprofile/{{p.usuario.imageprofile}}" alt="">
                {% else %}
                        <img class="img-fluid profile-post" src="assets/images/noneuser.png" alt="perfil"></a>
                           {%endif%}
                        <span class="text-dark fw-semibold"> {{p.usuario}}</span>


                    </div>
                </div>

                <div class="publicacao card p-3 mb-2">
                    <div> {{p.conteudo}}</div>

                </div>
                <span class="">{{ p.criadoEm | date('d-m-y h:m:s', "America/Sao_paulo") }}</span>

            </div>
            {%endfor%}
            {%endif%}


        </div>

    </div>

    <div class="col-md-auto">
        <a  href="" class="btn flutuante-button" id="btn-chats" > <i class="fa-solid fa-comment-dots"></i></a>

        {{ include('/includes/divchats.html.twig') }}


    </div>


</div>

{% endblock %}

{% block indexJS %}

<script src="assets/js/chats.js"></script>



{% endblock %}
